<?php
	if(isset($_POST['btnSubmit'])){

		/**
		 * create a new coupon
		 * @param  [string] $name 				coupon's name
		 * @param  [string] $desc 				description of the coupon
		 * @param  [string] $code 				magento coupon code, pref = alphabetical
		 * @param  [string] $from 				the 'from' or start date of the coupon [yyyy-mm-dd]
		 * @param  [string] $to   				the 'to' or end date of the coupon [yyyy-mm-dd]
		 * @param  [string] $type 				the discount type (by_percent, by_fixed, cart_fixed, buy_x_get_y)
		 * @param  [string] $amount 			the amount of the discount [25.0000], [3.0000]
		 * @param  [string] $uses 				the amount of times the coupon can be used
		 * @param  [string] $conditionOperator	the comparison value for the conditions, (==, !=, >=, <=)
		 * @param  [string] $conditionSku		product that is effected by this coupon, comma-delimited
		 * @return 
		 */
		function newCoupon($name, $desc, $code, $from, $to, $type, $amount, $uses, $conditionOperator, $conditionSku){
			// instantiate coupon model
			$coupon = Mage::getModel('salesrule/rule');

			// base input attributes
			$coupon->setName($name);
			$coupon->setDescription($desc);
			$coupon->setCouponCode($code);
			$coupon->setFromDate($from);
			$coupon->setToDate($to);
			$coupon->setSimpleAction($type);
			$coupon->setDiscountAmount($amount);
			$coupon->setUsesPerCustomer($uses);

			// active		
			$coupon->setIsActive('1');

			// conditions
			$conditions = array(
				"1" => array(
				    "type"          => "salesrule/rule_condition_combine",
				    "aggregator"    => "any",
				    "value"         => "1",
				    "new_child"     => null
				),
				"1--1" => array(
				    "type"          => "salesrule/rule_condition_product_found",
				    "aggregator"    => "any",
				    "value"         => "1",
				    "new_child"     => null
				),
				"1--1--1" => array(
				    "type"          => "salesrule/rule_condition_product",
				    "attribute"     => "sku",
				    "operator"      => $conditionOperator,
				    "value"         => $conditionSku
				)
			);
			$coupon->setData('conditions',$conditions);


		    // actions
		    $actions = array(
		        "1"         => array(
		                "type"          => "salesrule/rule_condition_product",
		                "aggregator"    => "all",
		                "value"         => "1",
		                "new_child"     => false
		            ),
		        "1--1"      => array(
		                "type"          => "salesrule/rule_condition_product",
		                "attribute"     => "sku",
		                "operator"      => $conditionOperator,
		                "value"         => $conditionSku
		            )
		    );
		    $coupon->setData('actions',$actions);

			// processing/advanced
			$coupon->setStopRulesProcessing('0');
			$coupon->setIsAdvanced('1');

			// applicible products/sort order
			$coupon->setProductIds(NULL);
			$coupon->setSortOrder('0');

			// discounting step (Buy X)/ quantity
			$coupon->setDiscountStep('0');
			$coupon->setDiscountQty(NULL);

			// shipping
			$coupon->setSimpleFreeShipping('0');
			$coupon->setApplyToShipping('0');

			// uses/rss visiblity
			$coupon->setTimesUsed('1');
			$coupon->setIsRss('0');

			// coupon scope
			$coupon->setCouponType('2');
			$coupon->setUseAutoGeneration('0');
			$coupon->setUsesPerCoupon('1000');
			$coupon->setCustomerGroupIds(array('1',));
			$coupon->setWebsiteIds(array('1',));

			// load conditions/actions data
			$coupon->loadPost($coupon->getData());

			// save, echo message
			$coupon->save();
			echo "<h4>Added</h4>";
		}

		// include the base Mage utility
		//require 'app/Mage.php';
		Mage::app();

		$fhandler = fopen('test_coupons.csv', 'r');
		while($data = fgetcsv($fhandler)){
			foreach($data as &$fvalue){
				if($fvalue == "'=='") $fvalue = '==';
				echo $fvalue.'/';
			}
			newCoupon($data[0],
					  $data[1],
					  $data[2],
					  $data[3],
					  $data[4],
					  $data[5],
					  $data[6],
					  $data[7],
					  $data[8],
					  $data[9]);
		}
		echo "<h2>Import complete.</h2>";
		fclose($fhandler);
	}
	
?>
<h1>Coupon Importer</h1>
<p>
	The module works by looping through an included .csv file and adding the formatted data to the 
	'Promotions/Shopping Cart Price Rules' page.
</p>
<p>
	View 'test_coupons.csv' file to see the proper format.
</p>
<form action="" method="POST">
	<input type="submit" name="btnSubmit" value="Import Coupons">
</form>